{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ゆっくり解説メーカー</title>
	<link href={% static 'css/base.css' %} type="text/css" rel="stylesheet">
</head>
	<body>
		<header>
			<h1>ゆっくり解説メーカー</h1>
			<p>ゆっくり動画作成ツールなどに取り込める台本をWikipediaなどをもとに生成します。</p>
			<nav>
				<ul>
					<!-- TODO -->
					<li>メイン</li>
					<li>使い方</li>
				</ul>
			</nav>
			<div style="clear: both"></div>
		</header>
		<article>
			{% block content %}{% endblock %}
		</article>
		<footer>
			<p>
				このプログラムは<span>MITライセンス</span>の下で公開されています。<br>
				このプログラムを使用したことによるトラブルについて、開発者は一切の責任を負いません。<br>
				また、解説者の名称は開発者が著作権・商標が所有するものではありません。
			</p>
			<div class="logo_icons">
				<a href="https://github.com/kanji0405/auto-yukkuri-v1"
				target="_blank"><img src={% static 'logo/github.png' %} alt="Github"></a>
				<a href="https://twitter.com/kanjinokusa"
				target="_blank"><img src={% static 'logo/twitter.png' %} alt="Twitter"></a>
			</div><br>
		</footer>
	</body>
</html>
