:root{
	--back-color: #493636;
	--text-color: #e6eee6;
	--selected: #e6eee6;
	--not-selected: #866d6d;
	--form-color: #e1d5d5;
}
body{
	margin: 0;
	padding: 0;
	background-color: var(--back-color);
	color: var(--back-color)
}
span{
	font-weight: bold;
}
button{
	margin: 0;
	padding: 0 9px;
	background-color: var(--not-selected);
	color: var(--text-color);
	border: 1px solid var(--back-color);
	border-radius: unset;
	font-weight: bold;
	cursor: pointer;
	font-size: larger;
}
button:hover{
	background-color: var(--form-color);
	color: var(--back-color);
}
button:active{
	background-color: var(--back-color);
	color: var(--not-selected);
	border: 1px solid var(--text-color);
}
input[type=text],select,textarea{
	background-color: var(--form-color);
	border: 1px solid var(--back-color);
	color: 1px solid var(--back-color);
	border-radius: unset;
}
header, footer{
	color: var(--text-color);
	margin: 0px auto 8px;
	padding: 0 12px 0;
	max-width: 800px
}
header a, footer a{
	color: var(--text-color);
	text-decoration: none;
}
header li.selected{
	background-color: var(--text-color);
}
header li.selected a{
	color: var(--back-color)
}
header li:hover{
	background-color: var(--not-selected);
}

article{
	border: 3px dashed var(--back-color);
	border-left: unset;
	border-right: unset;
	background-color: var(--text-color);
	color: var(--back-color);
	margin: 0;
	width: 100%;
}
article > div{
	max-width: 800px;
	padding: 20px 10px;
	margin: 0 auto;
	min-height: 100px;
}
h1, h2, h3{
	font-weight: normal;
	margin-bottom: 0
}
h1+p{
	border-top: 3px var(--text-color) dashed;
	padding: 4px 0 0;
	margin: 0;
}
nav ul{
	padding: 0;
	margin: 8px 0 0;
}
nav ul li{
	list-style: none;
	text-align: center;
	padding: 4px 16px;
	margin: 0 0 3px;
	text-align: center;
	float: left;
	border: 3px dashed var(--back-color);
	border-left: 0;
	border-right: 0;
}
ul{
	padding-left: 32px;
}
footer{
	text-align: center;
}
.logo_icons{
	display: inline;
	height: 64px;
	white-space: nowrap;
}
.logo_icons img{
	display: inline-block;
	padding: 0 4px;
}
footer p{
	display: inline-block;
	text-align: left;
}

.radio_box{
	text-align: center;
	display: block;
	margin: 0 auto;
}

.radio_box label{
	text-align: left;
	display: inline-block;
	margin: 6px auto 0;
	padding: 0 4px
}